.all{
  background-color:rgba(214, 197, 255, 0.644);
  height: 110vh;
}
.content {
  position:relative;
  top: 42px;
  /* overflow:hidden; */
  overflow: scroll;
  height: 110vh;
  background-image: linear-gradient(to bottom, rgb(10, 10, 10) , rgb(9, 61, 20));  
  padding: 20px;
  color:white;
  font-family: 'arial'
}
.btn {
  color:rgb(0, 0, 0);
  background-color: rgb(247, 242, 242);
  text-decoration:none;
  /* padding: 11px; */
  border: 3px;
  border-radius: 5px;
}
.btn:hover {
  background-color:teal;
  color: black;
}
.btn-outline {
  color:rgb(62, 148, 45);
  background: transparent;
  text-decoration:none;
  padding: 11px;
  border: 2px rgb(62, 148, 45) solid;
  border-radius: 5px;
}
.btn-outline:hover {
  color:teal;
  background: transparent;
  text-decoration:none;
  padding: 11px;
  border: 2px teal solid;
  border-radius: 5px;
}
.left {
  float: left;
  margin-left: 5px;
}
.marged {
  margin-right: 20px;
}
.main_menu {
  font-family:"arial";
  background-color: black;  
  overflow:hidden;
  height: 43px;
  width: 200vw;
  position:fixed;
  right: 10px;
  z-index: +1;
  padding-top:1px;
  border-bottom: 1px gray solid;
 }