
.content {
  position:relative;
  top: 42px;
  /* overflow:hidden; */
  overflow: scroll;
  height: 90vh;
  background-image: linear-gradient(to bottom, rgb(10, 10, 10) , rgb(9, 61, 20));  
  padding: 20px;
  color:white;
  font-family: 'arial'
}
.btn {
  color:rgb(62, 148, 45);
  background-color: rgb(0, 0, 0);
  text-decoration:none;
  padding: 11px;
  border: 3px;
  border-radius: 5px;
}
.btn:hover {
  background-color:teal;
  color: black;
}
.btn-outline {
  color:rgb(62, 148, 45);
  background: transparent;
  text-decoration:none;
  padding: 11px;
  border: 2px rgb(62, 148, 45) solid;
  border-radius: 5px;
}
.btn-outline:hover {
  color:teal;
  background: transparent;
  text-decoration:none;
  padding: 11px;
  border: 2px teal solid;
  border-radius: 5px;
}
.left {
  float: left;
  margin-left: 5px;
}
.marged {
  margin-right: 20px;
}
.main_menu {
  font-family:"arial";
  background-image: linear-gradient(to right, rgb(14, 3, 77) , rgb(212, 235, 176));  
  overflow:hidden;
  height: 41px;
  width: 200vw;
  position:fixed;
  z-index: +1;
  padding-top:1px;
 }